<!DOCTYPE html>
<html lang="en" ng-app='break'>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="app/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" ng-controller="EventCtrl">
        <p class ="lead">.</p>
        <p class ="lead">.</p>
        <div class='row'></div> 
        <div class="row">

            <div class="col-md-3">
                <p class="lead event-pic">{{event.title}} {{event.owners[0]}}</p>
                <img class ="event-pic" src='{{event.img}}'></img>
                <ul>
                    <li ng-repeat='user in event.users_att'>{{user}}</li>
                </ul>
             </div>
            <!-- enter here for the right side of the page -->
            <div>
                <p>{{event.description}}</p>
                <p>{{event.displayTime}}</p>
                <p>{{event.timeFromNow}}</p>
            </div>
            <div>
                <h3>Messages YAY!</h3>
                <div ng-repeat='message in event.messages.messages'>
                    <h6>{{message.user_id}} on {{message.time | amDateFormat: 'MM.DD.YYYY HH:mm'}} said:</h6><p>"{{message.msg}}"</p>
                </div>
            </div>
        </div>

            <div class="col-md-9">


                <div class="row">




                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="app/bower_components/jquery/dist/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="app/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app/bower_components/moment/moment.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="app/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="app/bower_components/angular-moment/angular-moment.min.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/controllers/Event.Ctrl.js"></script>

</body>

</html>
