
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a href="#" class="list-group-item" ng-repeat="category in categories">{{category}}</a>
            </div>
        </div>
        <div class="col-md-9">

            <div class="row carousel-holder">

<!--                     <div class="col-md-12 slider"> -->
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- the three dots of the bottom of the carousel -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <!-- each div is for each pic in the carousel -->
                            <div class="item active">
                                <img class="slide-image" src="{{featured[0].img}}" alt="">
                            </div>

                            <div class="item" ng-repeat="featuredEvent in featured.slice(1)">
                                <img class="slide-image" src="{{featuredEvent.img}}" alt="">
                            </div>
                        </div>
                    
                        <!-- left arrow in the carousel -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <!-- left arrow in the carousel -->
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                   <!--  </div> -->
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4" ng-repeat="event in events" ng-click="goToEvent(event._id)">
            <div class="thumbnail">
                <img src="{{event.img}}" alt="">
                <div class="caption">
                    <h4 class="pull-right">{{event.users_att.length}} going</h4>
                    <h4><a href="#">{{event.event_name}}</a>
                    </h4>
                    <p>{{event.description}}</p>
                    <p>{{event.timeFromNow}}</p>
                    <!-- this display in how many hours the event will take place<p>{{event.startInHour}}</p> -->
                </div>
                <div class="ratings">
                    <!-- maybe display the category here -->
                    <p class="pull-right" ><span ng-repeat="catergory in event.categories">{{catergory}} |</span></p>
                    <!-- here is the star rating. maybe display how many ppl are going -->
                  <!--   <p ng-repeat="range(event.categories.lenght)"> -->
                        <span ng-repeat="i in event.users_att"class="glyphicon glyphicon-user"></span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
